.parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.child{
    display: flex;
}

h1{
    padding-top: 40px;
    font-family: sans-serif;
}

h2{
    font-family: sans-serif;
    font-size: 20px;
}